version: '3'
services:
  web:
    build:
      context: ./
    ports:
      - 5000:5000
    environment:
      PORT: "5000"
      SECRET_KEY_BASE: PLEASE_CHANGE_ME
    volumes:
      - ./db:/rails/db
    command: bash -c "./bin/rails db:create db:migrate && foreman start"
    restart: always
