<%# Reader Template: Clip Register %>
<%# This partial replaces the textarea#clip_register template %>
<%# Used when user needs to register for livedoor clip service %>
<div class="clip_register">
  <div style="border: 3px solid #F44; padding: 10px; background: #fff">
    この機能を使うには「<a href="http://clip.livedoor.com/">livedoor クリップ</a>」の利用登録が必要です。
  </div>
</div>
