<%# Reader Template: View Mode Item %>
<%# This partial replaces the textarea#viewmode_item template %>
<%# Used in the view mode dropdown menu %>
<%# locals: mode (String), label (String), checked (Boolean) %>
<span class="button flat_menu <%= 'checked' if local_assigns[:checked] %>"
  data-controller="menu-item"
  data-action="mouseout->menu-item#unhover mouseover->menu-item#hover mouseup->menu-item#select"
  data-menu-item-mode-value="<%= mode %>"
  data-menu-item-action-value="view">
  <%= label %>
</span>
