<div id="content" class="bookmarklet">
	<h2>Browser Buttons</h2>
	<p>You can subscribe to a feed from anywhere with the <em>browser buttons</em>.</p>
	<div class="sub-content">
	<p>Drag these buttons to your bookmarks toolbar:</p>
	<div id="bmicon">
		<a href="javascript:location.href='<%= root_url %>subscribe/'+location.href" title="Subscribe with Fastladder"><img src="/img/parts/bm_01.gif" width="172" height="24" alt="Subscribe with Fastladder" title="Subscribe with Fastladder"></a>
		<a href="<%= root_url %>reader/" title="Fastladder"><img src="/img/parts/bm_02.gif" width="90" height="24" alt="Fastladder" title="Fastladder"></a>
	</div>
	</div>
	<h3>How to use</h3>
	<div class="sub-content">
	<ol>
		<li>Drag the "Subscribe with Fastladder" button to your bookmarks toolbar</li>
		<li>Visit any website with an RSS/Atom feed</li>
		<li>Click the bookmarklet to subscribe to the feed</li>
	</ol>
	</div>
</div>
